
{%- block form_row -%}
    <div class="control-group form-group osea">{#{{ testOption }}#}
        {#{{ dump(form.vars) }}#}
        <div class="controls">
            {%  if form.vars.name != 'recaptcha' %}
            {{- form_label(form) -}}
            {% endif %}
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
            {#{%  dump form.vars.attr %}#}
            {% if form.vars.attr.oldFoto is defined and form.vars.attr.oldFoto != false %}
                <img class="img-fluid" src="{{ asset(activityImg ~ form.vars.attr.oldFoto)  | imagine_filter('my_thumb_360x220') }}" alt="">
            {% endif %}
        </div>
    </div>
{%- endblock form_row -%}

{%- block textarea_widget -%}
    <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is same as(false) -%}
            {% set translation_domain = false %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="btn btn-primary" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{% block recaptcha_widget %}
    {#{{ block('recaptcha_entry_label') }}#}
    {% spaceless %}
        <div class="g-recaptcha" data-sitekey="{{ form.vars.public_key }}"></div>
        <script src="https://www.google.com/recaptcha/api.js?render=onload" async defer></script>
    {% endspaceless %}
{% endblock %}

{% block recaptcha_entry_label %} <br /> {% endblock %}