{# Pagina Index #}
{% extends 'base.html.twig' %}

{# TITULO #}
{% block title %}La Polifacética - Asociacion{% endblock %}

{# BODY #}
{% block body %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Asociaciones</h1>

    <!-- Portfolio Item Row -->

    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="{{ asset(activityImg ~ asociacion.foto) }}" alt="">
        </div>

        <div class="col-md-6">
            <h3 class="my-3">{{ asociacion.name }}</h3>
            {{ asociacion.description | raw }}
            <strong><a href="http://{{ asociacion.web}}" target="_blank">{{ asociacion.web}}</a></strong>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}

{# CSS #}
{% block stylesheets %}
    {#<style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    </style>#}
{% endblock %}




