{# Pagina Index #}
{% extends 'base.html.twig' %}

{# TITULO #}
{% block title %}La Polifacética - Nosotros{% endblock %}

{# BODY #}
{% block body %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3"><small>Sobre</small> La Polifacética
            <small> y nuestras actividades</small>
        </h1>
        <!-- END Page Heading/Breadcrumbs -->

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{{ asset('img/nosotros.polifacetica.jpeg') }}" alt="">
        <!-- END Image Header -->

        <p>La Polifacética es un espacio vecinal abierto, participativo y plural. Somos una asociación que surge por la unión de fuerzas de 17
            colectivos y asociaciones que venimos trabajando desde hace años en los barrios de Lavapiés y La Latina y que hemos confluido en un proyecto común para construir un espacio abierto, participativo y plural, donde la diversidad de actividades e intereses constituyan un bien común y una riqueza compartida.</p>
        <p>Para desarrollar este proyecto contamos con un espacio cedido por el Ayuntamiento de Madrid, dentro del programa "Locales en Red" que surgió de las propuestas vecinales en los Presupuestos Participativos de 2016. Después de un largo proceso de confluencia, conocimiento mútuo y trabajo de elaboración de una propuesta, hacia finales del 2018 ganamos el concurso y desde principios de 2019 gestionamos los locales 5, 6 y 7 de la corrala de la Plaza Cascorro 11.</p>
        <p>Desde este espacio organizamos todo tipo de actividades que contribuyan al desarrollo de las personas y el mejoramiento de las condiciones de vida en nuestros barrios. ¿Te gustaría participar con nosotros? Contáctanos a través de nuestro <a href="{{ path('contacto') }}">formulario de contacto</a></p>

        <!-- Acciones -->
        <h2>Algunas de nuestra actividades</h2>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ asset('images/periodico_nhu.jpg') | imagine_filter('my_thumb') }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            Periódico vecinal de Latina y Lavapiés
                        </h4>
                        <p class="card-text">En el consejo abierto de redacción se discuten todas las semanas los temas a tratar en el periódico y se
                            asignan los espacios para noticias, reportajes, etc. Todo siempre de forma participativa e inclusiva, para
                            hacer de éste un auténtico medio de comunciación barrial.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ asset('images/orgullo_castizo.jpg') | imagine_filter('my_thumb') }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            Clases de chotis gratuitas - Cultura castiza
                        </h4>
                        <p class="card-text">Dos doingos al mes impartimos clases gratuitas de chotis para todos los vecinos y vecinas que quieran acercarse a nuestras tradiciones más castizas.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ asset('images/apoyo_escolar.jpg') | imagine_filter('my_thumb') }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">Apoyo Escolar en el barrio de Lavapiés
                        </h4>
                        <p class="card-text">Partiendo de una actividad de apoyo escolar, buscamos generar una red de contactos con adolescentes
                            y familias para poder trabajar en un Proyecto Educativo que intenta fomentar entre los más jóvenes
                            valores de tolerancia, igualdad, respeto y solidaridad.</p>
                    </div>
                </div>
            </div>

        </div>

        <button class="btn btn-primary"><a class="" href="{{ path('actividades', {'num':'1'}) }}">Ver más actividades</a></button>
        <!-- END Acciones -->


    </div>
{% endblock %}

{# CSS #}
{% block stylesheets %}
    {#<style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    </style>#}
{% endblock %}