{# Pagina Index #}
{% extends 'base.html.twig' %}

{# TITULO #}
{% block title %}La Polifacética - Programa {{ programa.id}}{% endblock %}

{# BODY #}
{% block body %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Programa <small>del día {{ programa.fecha}}</small></h1>

    <!-- Portfolio Item Row -->

    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="{{ asset(activityImg ~ programa.foto) }}" alt="">
        </div>

        <div class="col-md-6">
            <h3 class="my-3">{{ programa.name }}</h3>
            {{ programa.description | raw }}
            <strong><a href="{{ programa.url}}" target="_blank">{{ programa.url}}</a></strong>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}

{# CSS #}
{% block stylesheets %}
{% endblock %}