{# Pagina Nueva Categoria #}
{% extends 'base.html.twig' %}

{# Usamos un theme para los formularios #}
{% form_theme form 'form/base_form.html.twig' %}

{# TITULO #}
{% block title %}Administracion Categorias{% endblock %}

{# BODY #}
{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-3">{% if isEdit is defined and isEdit != false %}
                Edita Categoria
            {% else %}
                Nueva Categoria
            {% endif %}</h1>

        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <div class="list-group">
                    <a href="{{ path('listaAsociaciones') }}" class="list-group-item">Asociaciones</a>
                    <a href="{{ path('listaActividades') }}" class="list-group-item">Actividades</a>
                    <a href="{{ path('listaCategorias') }}" class="list-group-item">Categorías</a>
                    <a href="{{ path('listaUsuarios') }}" class="list-group-item">Usuarios</a>
                </div>
            </div>

            <div class="col-lg-9 mb-4">
            {{ form_start(form) }}
             {#   esto dibuja los campos #}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}



