{# Pagina Nueva Categoria #}
{% extends 'administracion/base_admin.html.twig' %}

{# TITULO #}
{% block title %}Administracion Lista Usuarios{% endblock %}

{# TITULO BODY#}
{% block bodytitle %}Listado de Usuarios{% endblock %}

{# CONTENT #}
{% block content %}

    {% if usuarios is defined and usuarios is not empty %}
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead">Nombre Usuario</div>
                    <div class="divTableHead">Email</div>
                    <div class="divTableHead">Asociación</div>
                    <div class="divTableHead center">Activo</div>
                    <div class="divTableHead center">Acción</div>
                </div>
            </div>
            <div class="divTableBody">
                {% for usuario in usuarios %}
                    <div class="divTableRow">
                        <div class="divTableCell">{{ usuario.username }}</div>
                        <div class="divTableCell">{{ usuario.email }}</div>
                        <div class="divTableCell">{{ asociations[usuario.asociacion] }}</div>
                        <div class="divTableCell center">{% if usuario.active %}<span class="activo"></span>{% else %}<span
                                    class="inactivo"></span>{% endif %}</div>
                        <div class="divTableCell center">
                            <button class="btn btn-primary"><a class="" href="{{ path('editUsuario', {'id':usuario.id}) }}">Edita</a></button>
                            {#{% if is_granted('ROLE_SUPER_ADMIN') %}#}
                                <a href="#" onclick="return confirmaBorrar('{{ path('borraUsuario', {'id':usuario.id}) }}', '{{ usuario.username }}')" class="borrar"><i class="far fa-trash-alt"></i></a>
                            {#{% endif %}#}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- DivTable.com -->
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <button class="btn btn-primary"><a class="" href="{{ path('nuevoUsuario') }}">Nuevo Usuario</a></button>
    {% endif %}

{% endblock %}

{# CSS #}
{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
{% endblock %}

{# JS #}
{% block javascripts %}

    {# Aquí usaremos para las alertas la libreria sweetalert.js.org #}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{ asset('js/sweetAlerts.js') }}" ></script>
{% endblock %}

