{# Pagina Nueva Categoria #}
{% extends 'base.html.twig' %}

{# TITULO #}
{% block title %}Administracion Lista Usuarios{% endblock %}

{# BODY #}
{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-3">Listado de Usuarios</h1>

        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <div class="list-group">
                    <a href="{{ path('listaAsociaciones') }}" class="list-group-item">Asociaciones</a>
                    <a href="{{ path('listaActividades') }}" class="list-group-item">Actividades</a>
                    <a href="{{ path('listaCategorias') }}" class="list-group-item">Categorías</a>
                    <a href="{{ path('listaUsuarios') }}" class="list-group-item">Usuarios</a>
                </div>
            </div>

            <div class="col-lg-9 mb-4">
                {% if usuarios is defined and usuarios is not empty %}
                        <div class="divTable">
                            <div class="divTableHeading">
                                <div class="divTableRow">
                                    <div class="divTableHead">Nombre Usuario</div>
                                    <div class="divTableHead">Email</div>
                                    <div class="divTableHead">Asociación</div>
                                    <div class="divTableHead center">Activo</div>
                                    <div class="divTableHead center">Acción</div>
                                </div>
                            </div>
                            <div class="divTableBody">
                    {% for usuario in usuarios %}
                                <div class="divTableRow">
                                    <div class="divTableCell">{{ usuario.username }}</div>
                                    <div class="divTableCell">{{ usuario.email }}</div>
                                    <div class="divTableCell">{{ asociations[usuario.asociacion] }}</div>
                                    <div class="divTableCell center">{% if usuario.active %}<span class="activo" ></span>{% else %}<span class="inactivo" ></span>{% endif %}</div>
                                    <div class="divTableCell center"><button class="btn btn-primary"><a class="" href="{{ path('editUsuario', {'id':usuario.id}) }}">Edita</a></button></div>
                                </div>
                    {% endfor %}
                            </div>
                        </div>
                        <!-- DivTable.com -->
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}



